
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/admin/adminsite.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-offset-6 col-md-6  ">
                <div class="form-login">
                    <h4>Welcome</h4>
                    <h4 style="color:red;text-align:center">@ViewBag.Thongbao</h4>
                    @using (Html.BeginForm() )
                    {
                        @Html.ValidationSummary(true)
                        <input type="text" id="userName" name="username" class="form-control input-sm chat-input" placeholder="username" />
                        <br />
                        <p>@ViewData["Loi1"]</p>
                        <br />
                        <input type="password" id="userPassword" name="password" class="form-control input-sm chat-input" placeholder="password" />
                        <br />
                        <p>@ViewData["Loi2"]</p>
                        <br />
                        <div class="wrapper">
                            <span class="group-btn">    
                                <button class="btn btn-primary btn-md">Login <i class="fa fa-sign-in"></i></button>
                            </span>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</body>
</html>
