@using MvcWatchStore.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<MvcWatchStore.Models.TimKiem>
@{
    ViewBag.Title = "Quản lý tìm kiếm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý tìm kiếm</h2>

<table class="table">
    <tr>
        <th>
            Từ khoá
        </th>
        <th>
            Số lần
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLan)
        </td>
        <td>
        </td>
    </tr>
}

</table>
<div class="container">
    <div class="row justify-content-center">

        <div class="MenuTrang">
            @Html.PagedListPager(Model, page => Url.Action("QLTimkiem", new { page = page }))

        </div>
        <p class="text-center" style="padding:10px;">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;</p>
    </div>
</div>