@using MvcWatchStore.Models;
@model List<Giohang>

<div class="header-wrapicon2">
    <a href="@Url.Action("Giohang","Giohang")"><img src="~/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON"></a>
    <span class="header-icons-noti">
    @ViewBag.Tongsoluong
    </span>

    <!-- Header cart noti -->

</div>
